<a href="https://colab.research.google.com/github/Ozturkmustafa/Ozturkmustafa/blob/main/assigment_x.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
principal = 1000
interest_rate = 7
day = 7
formula = ((principal/100)*(interest_rate/100)*(number_of_days))   #  if_the_formula_is_correct

principal = x
interest_rate = y
day = z

In [ ]:
 x = 1000 
y = 7
z = 1
print(((x/100)*(y/100)*z)+x) # 1.day

1000.7

In [ ]:
x = 1000 #
y = 7
z = 1
print((x/100)*(y/100)*(z)+x)

1000.7

In [ ]:
x = 1000.7 
print(((x/100)*(y/100)*(z))+x)  # 2.day

1001.40049

In [ ]:
x = 1001.40049
print(((x/100)*(y/100)*(z))+x)  # 3.day

1002.101470343

In [ ]:
x = 1002.101470343
print(((x/100)*(y/100)*(z))+x)  # 4.day

1002.8029413722401

In [ ]:
x = 1002.8029413722401
print(((x/100)*(y/100)*(z))+x)  # 5.day

1003.5049034312007

In [ ]:
x = 1003.5049034312007
print(((x/100)*(y/100)*(z))+x)  # 6.day

1004.2073568636025

In [ ]:
x = 1004.2073568636025
print(((x/100)*(y/100)*(z))+x)  # 7.day

1004.9103020134071

In [ ]:
## hocanın çözümü 
para = 1000
para = para * 1.07 ** 7
para

In [ ]:
f= int(input("Sıcaklığı F cinsinden giriniz: ")) 
c=(f-32)/1.8 
print(f, "F = ", c,"C'dir")

Sıcaklığı F cinsinden giriniz: 32
32 F =  0.0 C'dir

In [ ]:
a = int(input('Sıcaklığı C cinsinden giriniz: '))  # derece float değil integer olarak alınmıştır
b = a*1.8 + 32   # çarpma işlemi otomatik float yapacak
print(a, 'C olarak girilen değer', b , 'F\'dır.')

Sıcaklığı C cinsinden giriniz:32
32 C olarak girilen değer 89.6 F'dır.

In [ ]:

a = int(input ('Km değerini giriniz : '))
b = (a * 100 / 161)  # Kara Mili olarak hesaplanmıştır.
print(a, 'Km değeri', b, 'Mil\'dir')

Km değerini giriniz : 234
234 Km değeri 145.3416149068323 Mil'dir

In [ ]:
age = input("Are you a cigarette addict older than 75 years old? (# True or False): " )
chronic = input("Do you have a severe chronic disease? (# True or False): ")
immune = input("Is your immune system too weak?(# True or False): ")

print("Your death risk high", age.capitalize() or (chronic.capitalize() or immune.capitalize()))

Are you a cigarette addict older than 75 years old? (# True or False): true
Do you have a severe chronic disease? (# True or False): false
Is your immune system too weak?(# True or False): false
Your death risk high True

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
my_numbers = set(numbers)
my_numbers
print(my_numbers)

max(numbers, key = numbers.count)

print("The most frequent number is",max(numbers, key = numbers.count)," and it was",numbers.count(3), "times repeated")

{0, 1, 3, 4, 6, 7}
The most frequent number is 3  and it was 4 times repeated

In [ ]:
numbers = [1,3, 7, 4, 3, 0, 6, 3]

new_number = max(numbers, key = numbers.count)

print("repeated numder :", new_number)

repeated numder : 3

In [ ]:
letter = input("write a word:")
  print(True)
else:
  print(False)

IndentationError: ignored

In [ ]:
list1 = ["q", "w", "e", "r", "t", "a", "s", "d", "f", "g", "z", "x", "c" , "v", "b"]
list2 = ("y h n u j m ı k ö o l ç p ş ğ i ü").split()
list2
x = list(input("bir kelime giriniz:"))
if x in (list1 and list2):
  print(False)
else:
  print(True)

bir kelime giriniz:sdffghjklşkşjkljşl
True

In [ ]:
list1 = ["q", "w", "e", "r", "t", "a", "s", "d", "f", "g", "z", "x", "c" , "v", "b"]
list2 = ("y h n u j m ı k ö o l ç p ş ğ i ü").split()
list2
x = list(input("bir kelime giriniz:"))
print(x)

bir kelime giriniz:sdfkl
['s', 'd', 'f', 'k', 'l']

In [ ]:
list1 = ["q", "w", "e", "r", "t", "a", "s", "d", "f", "g", "z", "x", "c" , "v", "b"]
print(*list1)

q w e r t a s d f g z x c v b

In [ ]:
left_hand = set("qwertasdfgzxcvb")
right_hand = set("yuiophjklnm")
word = set(input("write a word : "))
word.intersection(right_hand) != set() and word.intersection(left_hand) != set()

write a word : sdf

False

In [ ]:
left_hand =  set("qwertasdfgzxcvb")
right_hand = set("yuiophjklnm")
words = set(input("write a word : ").lower())
print(words.intersection(left_hand) !=  set() and words.intersection(right_hand) != set())

write a word : asdhjk
True

In [ ]:
email = 'D999@clarusway.com'
pswrd = 'd999'
ent_mail = input('enter mail: ')
ent_pswrd = input('enter password: ')
if (ent_mail !=email and ent_pswrd==pswrd):
  print('Wrong email address')
elif(ent_mail==email and ent_pswrd !=pswrd):
    print('wrong password')
elif(ent_mail !=email and ent_pswrd !=pswrd):
      print('wrong email and password')
else:
        print('login successfull')

enter mail: D999@clarusway.com
enter password: d999
login successfull

In [ ]:
name = "Joseph"
pswrd = "W@12"
in_name = input("write a user name : ").title()
in_pswrd = input("write a your pasword : ")
if(in_name == name and in_pswrd != pswrd):
  print(("{} write a wrong pasword".format(in_name)).title())
elif(in_name != name and in_pswrd == pswrd):
  print(("{} is a wrong user name".format(in_name)).title())
elif(in_name != name and in_pswrd != pswrd):
  print(("{} is wrong user name and pasword".format(in_name)).title())
else:
  print("welcome {}.your pasword is true".format(in_name).title())

write a user name : joseph
write a your pasword : W@12
welcome Joseph.your pasword is true

In [ ]:
age = input("Are you a cigarette addict older than 75 years old?(# Yes or No) : ")
cronic = input("Do you have a severe chronic disease?(# Yes or No) : ")
immune = input("Is your immune system too weak?(# Yes or No) : ")

if (age.capitalize() or cronic.capitalize() or immune.capitalize()) == "Yes" :
  print("You are in risky group")
else:
  print("You aren't in risky group")

Are you a cigarette addict older than 75 years old?(# Yes or No) : yes
Do you have a severe chronic disease?(# Yes or No) : no
Is your immune system too weak?(# Yes or No) : no
You are in risky group

In [ ]:
num = input("write a number: ")

total = 0


if num.isdigit():
  for i in num:
    total1 = (int(i)**len(num))
    total += total1
    
  if int(num)  == total :
    print("it's a armstrong number")
      
  elif int(num) != total :
    
    print("it's not a armstrong number")
      


    print(total)

else:
  print("it's not a number")

write a number: 371
it's a armstrong number

In [ ]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
group = {}

for i in strs :
  kelime = "".join(sorted(i))
  if kelime in group :
    group[kelime].append(i)
  else :
    group[kelime] = [i]

print(list(group.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'], ['cat', 'tac']]

In [ ]:
num = input("write a number: ")
toplam = 0  

i = 0
if num.isdigit(): 
  while i < len(num) :   
    toplam = toplam + int(num[i])**len(num)
    i += 1
  if int(num) == toplam :
    print(num, "it's a armstrong number")
  else :
    print(num, "is not an Armstrong number")
else :
  print("It is an invalid entry. Don't use non-numeric, float, or negative values!")

write a number: 5
5 it's a armstrong number

In [ ]:


n = input("write a number: ")


k = []
if n.isdigit():
  while i <= int(n) :
    for i in range(3,n+1) :
      for j in range(2,i) :
        if i % j == 0 :
          
          k.append(i)
        else :
         prime += [i]
      
else :
  print("It is an invalid entry. Don't use non-numeric, float, or negative values!")


print(k)

write a number: 7
[]

write a number: 8
[2, 3, 5, 7]

In [ ]:
def team_league(team, league='Premier League'):
    print(team, 'in', league)

team_league('Liverpool')

Liverpool in Premier League

In [ ]:
n = int(input("write a number: "))  #  input 9 for 55 number

a = 0
b = 1
liste = [b]

for i in range(n):
  a,b = b,a+b
  liste.append(b)
  
  # print(b, end=" ")

print(liste)

write a number: 8
[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
a,b = 0,1
fibonacci = [a,b]
for i in range(98) :
  a,b = b,a+ b
  fibonacci += [b]
print(fibonacci[1:])
print(len(fibonacci))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026]
100

In [ ]:
def sum_double(x, y):
    if x == y :
        return (x + y) * 2
       
    else :
        return x + y
        

print(sum_double(1, 2))
print(sum_double(5, 7))
print(sum_double(5, 5))

In [ ]:
def parrot_trouble(talking, hour):
    while 21 > hour and hour < 6 and talking  :
       print(True)
       break
    else:
       print(False)


talking = input("write a your parrot talk before 6 or after 21 True or False :")
hour = int(input("Your parrot when talk (.. o'clock) :"))
parrot_trouble(talking, hour)

write a your parrot talk before 6 or after 21 True or False :true
Your parrot when talk (.. o'clock) :5
True

In [ ]:
def parrot_trouble(talking, hour):
    while 21 > hour and hour < 6 and talking  :
       print(True)
       break
    else:
       print(False)
        
talking = input("write a your parrot talk before 6 or after 21 True or False :")
hour = int(input("Your parrot when talk (.. o'clock) :"))
parrot_trouble(talking, hour)

write a your parrot talk before 6 or after 21 True or False :true
Your parrot when talk (.. o'clock) :5
True

In [ ]:
n = int(input("Enter a positive number to check if it is a Prime Number"))
counter = 0

for i in range(1, n+1) :
    if n % i == 0 :
        counter += 1
        
if (n == 0) or (n == 1) or (counter >= 3) :
    print(n, " is not a Prime Number")
    
else :
    print(n, " is a Prime Number")

In [ ]:
dictionary = {'s': 2, 'r': 1, 't': 1, 'h': 1, 'n': 1, 
'i': 1, 'u': 2, 'o': 2, 'p': 2, ' ': 3, '!': 1}
def letter(text):
  a = 0
  for i in text :
    a += dictionary[i]

  return a

print(letter("hippo runs to us!"))

31

In [ ]:
def front_back(word):
  a = word[0]
  b = word[-1]
  c = word.rstrip(word[-1]).lstrip(word[0])
 
  return b + c + a
print(front_back("ab"))

ba

In [ ]:
print(front_back('clarusway'))

ylaruswac