<a href="https://colab.research.google.com/github/Ozturkmustafa/Ozturkmustafa/blob/main/workshop_2_python_student_version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Code Challenge -1

<div class="alert alert-block alert-info">
    <b>ðŸ’¡Objective:</b>
    <ul>
        <li>To improve your <b>boolean logic</b> and <b>arithmetic operator algorithm</b>&nbsp;skills.</li>
    </ul>
</div>

- Using the all following items once each, set a correct boolean expression that returns `write me`. Use the `print()` function to display the result.

```python
0
and
not
"write me"
```

### Solution - 1

In [ ]:
print(not 0 and "write me")

write me

### Code Challenge-2

<div class="alert alert-block alert-info">
    <b>ðŸ’¡Objective:</b>
    <ul>
        <li>To improve your <b>boolean logic algorithm</b>&nbsp;and truth value skills.</li>
    </ul>
</div>

- Find out if a given year is a "leap" year.

  - In the Gregorian calendar, three criteria must be taken into account to identify leap years:
  
    - The year must be evenly divisible by 4;
    - If the year can also be evenly divided by 100, it is not a leap year; unless...(next one)
    - The year is also evenly divisible by 400. Then it is a leap year.

- According to these rules, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300, and 2500 are not the leap years.

- Write a Python program that;
  - Takes a 4-digit year from the user,
  - Prints `True` if the given year by the user is a leap year, prints `False` otherwise.
  
> Note that; this question is famous on the web, so that do it yourself to get more benefits from it.

In [ ]:
year = int(input("LÃ¼tfen sayÄ± girin :"))
print((year%4 == 0 and year%100 != 0 ) or year%400 == 0)

LÃ¼tfen sayÄ± girin :1988
True

### Code Challenge-3

<p></p>
<div class="alert alert-block alert-info">
    <b>ðŸ’¡Objective:</b>
    <ul>
        <li>To improve your <b>collection </b>type <b>knowledge, </b>using<b> </b><span>new </span><span>built-in<b> function comprehension, string formatting</b></span>&nbsp;and <b>problem solving</b> skills.</li>
    </ul>
</div>

<b>Task - 1 :</b><br>You work for a manufacturer as a programmer and
have been asked to calculate the
<b>total profit</b> made on the sales of a product. You are given a dictionary (<code>sales</code>) containing the <span><i>cost </i>price</span><span> </span>per unit (in dollars), <span><i>sell </i>price</span><span> </span>per unit (in dollars), and
the <span><span>beginning</span></span><i> inventory</i>. Write a program to return the <b>total profit&nbsp;</b>made, <b>rounded&nbsp;</b>to the nearest dollar. Assume all of the <i>inventory</i> has been sold. The <i>name</i> and the <i>keys</i> of
the dictionary are constant, so use them as they are.<br>
<hr>


<p>The example of the <i>values</i> (<i>sell</i>-<i>cost </i>value,&nbsp;<i>inventory</i>) and total <i>profit </i>:</p>

```python
sales = {
  "cost_value": 31.87,
  "sell_value": 45.00,
  "inventory": 1000
}  

# the profit will be : 13130
````

<hr>
<p><b>Task - 2 :</b><br>Your boss wants you to prepare the <b>payrolls</b> of the workers in your department. You have to convert the amount of dollars into <i>payroll </i>format. In order to help move things along, you have volunteered to write a code that
    will take a float and return the money in the following format (as <i>dollars</i> and <i>cents</i>).&nbsp;</p>
<p><br>
</p>

- Examples :

|Given Float Type `amount`|Desired Output|
|--|--|
|3|\$3.00|
|29.99|\$29.99|
|4.1|\$4.10|

The output should be float type as well and two digits after the period.<br><br>
<p></p>

### Solution-3

In [ ]:
# Task-1

sales = {
  "cost_value": 31.87,
  "sell_value": 45.00,
  "inventory": 1000
}  

print(round((sales["sell_value"] - sales["cost_value"]) * sales["inventory"]))

13130

In [ ]:
# Task-2
wages = float(input("Enter wage: "))
formatted = "{:.2f}".format(wages)
print(f"Desired output format is: ${formatted}")

Enter wage: 54
Desired output format is: $54.00

In [ ]:
cost_value = 31.87
sell_value = 45.00
inventory = 1000
kar = ((sell_value - cost_value) * inventory)
print(int(round(kar, 3)))

13130

In [ ]:
print(45.00 - 31.87)

13.129999999999999

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
my_numbers = set(numbers)
my_numbers
print(my_numbers)
print("the most frequent number is 3 and it was",numbers.count(3),"times repeated")

{0, 1, 3, 4, 6, 7}
the most frequent number is 3 and it was 4 times repeated

In [ ]:
list(numbers).count(3)

4

In [ ]:
a = [1, 3, 7, 4, 3, 0, 3, 6, 3]
for i in a:
  a.count(i)

In [ ]:
a.count(7)

1

In [ ]:
a = [1, 3, 7, 4, 3, 0, 3, 6, 3]
b = set(a)
b
c = {}
for i in b:
  print(a.count(i))
  c = {i:a.count(i)}
  print(c)

1
{0: 1}
1
{1: 1}
4
{3: 4}
1
{4: 1}
1
{6: 1}
1
{7: 1}

In [ ]:
a = [1, 3, 7, 4, 3, 0, 3, 6, 3]
b = set(a)
b

{0, 1, 3, 4, 6, 7}

In [ ]:
Counter[1, 3, 7, 4, 3, 0, 3, 6, 3]

NameError: ignored

In [ ]:
a = [1936, 2401, 2916, 4761, 9216, 9216, 9604, 9801] 

c = Counter(a)
c

In [ ]:
warning = 'You must quit smoking!'

print(len(list(warning)))

22

In [ ]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [ ]:
print(len([[12, 34, 56]]))

1

In [ ]:
print(len([[12, 34, 56]][0]))

3

In [ ]:
my_list = list(range(11))

In [ ]:
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [ ]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
print(student_ages["Clark"])

32

In [ ]:
print(len(set('listen to the voice of enlisted')))

13

In [ ]:
my_list = list(range(11))

my_list.sort(reverse=True)

print(my_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]

a = flowers[0][2]
b = flowers[0][1][1]
c = colors[1][0]
d = colors[1][1][1]

print("My two favorite flowers are {} and {}, two favorite colors are {} and green.".format(a, b, c, d))

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]

colors[1][0]
colors[1][1][1]

'green'

In [ ]:
a = flowers[0][2]
b = flowers[0][1][1]
c = colors[1][0]
d = colors[1][1][1]


text = "My two favorite flowers are {} and {}, two favorite colors are {} and green.".format(a, b, c, d)

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{} I have two children.{} Data Science is my IT domain.".format(escapes[0], escapes[2][1])

print(sentence)

I am 40 years old.
	 I have two children.
		 Data Science is my IT domain.

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]
escapes[0]
escapes[2][1]

'\n\t\t'